.main
  .advantages
    @extend .text-align-center

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

    p
      text-align: center


    md-icon
      width: 70%
      height: 100%

      svg
        fill: $green
