@import 'compass'

$green: rgb(178,255,89)

@mixin background-pattern($src)
  background-repeat: repeat
  background-image: url("../images/patterns/#{$src}.png")
  background-size: 27vw

.dark-background
  @include background-pattern('dark')
  background-size: 7vw

  md-divider
    border-color: $green

  .md-display-1
    color: white

.light-background
  @include background-pattern('light')
  background-size: 2vw

md-divider
  border-width: 10px

.md-button
  text-transform: none
  padding: 0 10px

  &.inline
    margin: 0

md-icon.md-icon-white svg
  fill: white

.slick-slider
  overflow: hidden

section
  &.full-heigth-section
    width: 100%
    height: calc(100vh - 64px)

  &.min-height-section
    height: auto
    min-height: calc(100vh - 64px)

  &.padded-section
    padding: 70px 0

  > .md-display-1
    margin-bottom: 30px

[data-sr]
  visibility: hidden

@import '_helpers'
@import 'menu'
@import '_carousel'
@import '_advantages'
@import 'services'
@import 'gallery'
