@import 'compass'

$green: rgb(178,255,89)

md-divider
  border-width: 10px

.md-button
  text-transform: none
  padding: 0 10px

  &.inline
    margin: 0

md-icon.md-icon-white svg
  fill: white

md-card
  overflow: hidden

.slick-slider
  overflow: hidden

a
  color: inherit
  text-decoration: none

section
  &.full-heigth-section
    width: 100%
    height: calc(100vh - 64px)

  &.min-height-section
    height: auto
    min-height: calc(100vh - 64px)

  &.padded-section
    padding: 70px 0

  > .md-display-1
    margin-bottom: 30px

[data-sr]
  visibility: hidden

@import '_helpers'
@import 'menu'
@import '_carousel'
@import '_advantages'
@import 'services'
@import 'gallery'
@import '_footer'
