<section class="carousel section full-heigth-section" id=carousel>
  <slick autoplay=true speed=500 arrows=false>
    <% 3.times do |i| %>
      <img src="images/carousel/<%= i + 1 %>.jpg"></img>
    <% end %>
  </slick>

  <div class="caption">
    <div class="md-display-2 title">
      La Mejor Elección de Sistema Constructivo
    </div>

    <md-button class="md-raised" scroll-to="advantages" offset=64>
      Conozca las ventajas del <strong>STEEL FRAMING</strong>
    </md-button>

    <md-button class="md-accent md-raised" ng-click="main.showMailForm()">Contáctenos</md-button>
  </div>
</section>
