<section class="carousel section full-heigth-section" id=carousel>
  <slick autoplay=true speed=500 arrows=false>
    <img src="images/carousel/4.gif"/>
  </slick>

  <div class="caption">
    <span class="md-display-1 title">
      La Mejor Elección de Sistema Constructivo
    </span>

    <md-button class="md-raised" scroll-to="advantages" offset=64>
      Conozca las ventajas del <strong>STEEL FRAMING</strong>
    </md-button>

    <md-button class="md-accent md-raised" ng-click="main.showMailForm()">Contáctenos</md-button>
  </div>
</section>
