<section
  id=gallery
  class="gallery min-heigth-section padded-section light-background"
  layout=column
  layout-align="center center"
>
  <div class="md-display-1 text-align-center">
    Galería
    <md-divider></md-divider>
  </div>

  <div layout=row layout-wrap layout-padding>
    <% 31.times do |i| %>
      <div flex-sm=100 flex-gt-sm=25>
        <div class="image md-whiteframe-z2">
          <img ng-src="images/gallery/<%= i + 1 %>.jpg"></img>
        </div>
      </div>
    <% end %>
  </div>
</section>
