<section
  id=services
  class="services padded-section min-height-section dark-background"
  layout=column
  layout-align="center center"
 >
  <div class="md-display-1 text-align-center">
    Servicios
    <md-divider></md-divider>
  </div>

  <div layout=row layout-wrap layout-align="center">
    <% services.each do |s| %>
      <md-card flex flex-sm=100 flex-gt-sm=40 flex-lg=20>
        <img
          src="<%= "images/services/#{s.fetch(:image_name)}" %>"
          class="md-whiteframe-z1"
        ></img>
        <md-card-content>
          <h2 class="md-title"><%= s.fetch(:title) %></h2>
          <p><%= s.fetch(:description) %></p>
        </md-card-content>
      </md-card>
    <% end %>
  </div>
</section>
