<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MegaFrame</title>
    <meta name="description" content="">
    <link rel="icon" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "main" %>
  </head>

  <body ng-app="megaFrameSteelApp">
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-include="'views/main.html'" ng-controller="Main as main"></div>

    <!-- Mustache Templates -->
    <div ng-include="'views/mustache_templates/mail_contents.html'"></div>

    <%= javascript_include_tag "main" %>
  </body>
</html>
