<section class="advantages md-whiteframe-1 section min-height-section padded-section light-background" id="advantages" layout="column" layout-align="center center">
  <div class="md-display-1 text-align-center" data-sr="enter top">
    Ventajas del steel framing
    <md-divider></md-divider>
  </div>

  <div layout="row" layout-padding layout-wrap layout-align="center end">
    <div flex=20 flex-sm=100 data-sr="enter left">
      <md-icon md-svg-src="images/icons/money.svg"></md-icon>
      <h3 class="md-title">Óptima relación costo/calidad</h3>
      <md-divider></md-divider>
      <p >Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    </div>

    <div flex=20 flex-sm=100 data-sr="enter bottom">
      <md-icon md-svg-src="images/icons/time.svg"></md-icon>
      <h3 class="md-title">Rápido</h3>
      <md-divider></md-divider>
      <p> Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    </div>

    <div flex=20 flex-sm=100 data-sr="enter right">
      <md-icon md-svg-src="images/icons/ecology.svg"></md-icon>
      <h3 class="md-title">Limpio</h3>
      <md-divider></md-divider>
      <p>Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    </div>
  </div>
</section>
