<div class="advantages md-whiteframe-1 section padded-section" id="advantages" layout="column" layout-align="center center">
  <div class="md-display-2 text-align-center" data-sr="enter top">Ventajas de la construcción en seco</div>
  <md-divider></md-divider>

  <div layout-gt-sm="row" layout-padding layout-wrap layout-align="center end">
    <span flex=20></span>
    <div flex=20 data-sr="enter left" class=image><img flex=20 ng-src="http://placehold.it/200x200" class="md-whiteframe-z1"></img></div>
    <div flex=20 data-sr="enter top" class=image><img flex=20 ng-src="http://placehold.it/200x200" class="md-whiteframe-z1"></img></div>
    <div flex=20 data-sr="enter right" class=image><img flex=20 ng-src="http://placehold.it/200x200" class="md-whiteframe-z1"></img></div>
    <span flex=20></span>

    <span flex=20></span>
    <div flex=20 class="title" data-sr="enter left" >
      <h3 class="md-title">Fácil Instalación</h3>
      <md-divider></md-divider>
    </div>
    <div flex=20 class="title" data-sr="enter top">
      <h3 class="md-title">Óptima relación costo/beneficio</h3>
      <md-divider></md-divider>
    </div>
    <div flex=20 class="title" data-sr="enter right">
      <h3 class="md-title">Más seguridad y vida útil</h3>
      <md-divider></md-divider>
    </div>
    <span flex=20></span>

    <span flex=20></span>
    <p flex=20 data-sr="enter left" >Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    <p flex=20 data-sr="enter top"> Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    <p flex=20 data-sr="enter right">Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    <span flex=20></span>
  </div>
</div>
