<div class="advantages md-whiteframe-1 section min-heigth-section padded-section bordered-section light-background" id="advantages" layout="column" layout-align="center center">
  <div class="md-display-2 text-align-center" data-sr="enter top">Ventajas del steel framing</div>
  <md-divider></md-divider>

  <div layout-gt-sm="row" layout-padding layout-wrap layout-align="center end">
    <span flex=20></span>

    <div flex=20 data-sr="enter left" class=image>
      <md-icon md-svg-src="images/icons/money.svg"></md-icon>
    </div>
    <div flex=20 data-sr="enter bottom" class=image>
      <md-icon md-svg-src="images/icons/time.svg"></md-icon>
    </div>
    <div flex=20 data-sr="enter right" class=image>
      <md-icon md-svg-src="images/icons/ecology.svg"></md-icon>
    </div>

    <span flex=20></span>

    <span flex=20></span>

    <div flex=20 class="title" data-sr="enter bottom">
      <h3 class="md-title">Óptima relación costo/calidad</h3>
      <md-divider></md-divider>
    </div>
    <div flex=20 class="title" data-sr="enter right">
      <h3 class="md-title">Rápido</h3>
      <md-divider></md-divider>
    </div>
    <div flex=20 class="title" data-sr="enter left" >
      <h3 class="md-title">Limpio</h3>
      <md-divider></md-divider>
    </div>

    <span flex=20></span>

    <span flex=20></span>

    <p flex=20 data-sr="enter left" >Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    <p flex=20 data-sr="enter bottom"> Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    <p flex=20 data-sr="enter right">Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>

    <span flex=20></span>
  </div>
</div>
