<div class="carousel section full-heigth-section" id=carousel>
  <slick>
    <div repeat-times=3>
      <img ng-src="images/carousel/{{:: $index + 1}}.jpg"></img>
    </div>
  </slick>

  <div class="caption">
    <div data-sr="enter bottom, over 2s">
      <div class="md-display-2">
        <strong>El futuro de la construcción en seco ya esta aquí</strong><br/>
      </div>

      <md-button class="md-raised" scroll-to="advantages" offset=64>
        Conozca las ventajas del <strong class="md-accent">steel framing</strong>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="main.showMailForm()">Contáctenos</md-button>
    </div>
  </div>
</div>
