<section class="carousel section full-heigth-section" id=carousel>
  <slick autoplay=true speed=500 arrows=false>
    <div repeat-times=3>
      <img ng-src="images/carousel/{{:: $index + 1}}.jpg"></img>
    </div>
  </slick>

  <div class="caption">
    <div data-sr="enter bottom, over 2s, vF 1">
      <div class="md-display-2">
        <strong>El futuro de la <strong>Construcción en Seco</strong> ya esta aquí</strong><br/>
      </div>

      <md-button class="md-raised" scroll-to="advantages" offset=64>
        Conozca las ventajas del <strong>STEEL FRAMING</strong>
      </md-button>
      <md-button class="md-accent md-raised" ng-click="main.showMailForm()">Contáctenos</md-button>
    </div>
  </div>
</section>
