<md-content class=main>
  <div ng-include="'views/header.html'"></div>

  <slick class=carousel>
    <div><img ng-src="http://placehold.it/1600x400"></img></div>
    <div><img ng-src="http://placehold.it/1600x400"></img></div>
  </slick>

  <div layout="row" layout-align="center start" class="advantages md-whiteframe-1">
    <div flex=20 class=advantage>
      <img ng-src="http://placehold.it/200x200" class="md-whiteframe-z1"></img>
      <p>Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    </div>

    <div flex=20 class=advantage>
      <img ng-src="http://placehold.it/200x200" class="md-whiteframe-z1"></img>
      <p>Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    </div>

    <div flex=20 class=advantage>
      <img ng-src="http://placehold.it/200x200" class="md-whiteframe-z1"></img>
      <p>Se ex veris utili modos sitas haben velim ne. Aliam ima pla hac aut porro fingi opera. To concipio persuasi imponere perfecta ac lectorum in co.</p>
    </div>
  </div>

  <div id=services class=services layout=row layout-align="center center">
    <div flex=30>
      <div class="steps">
        <div class="step">
          <span class="indicator">1</span>
          Análisis del proyecto
        </div>

        <div class="step">
          <span>2</span>
          Ingeniería sobre plano
        </div>

        <div class="step">
          <span class="indicator">3</span>
          Ingeniería sobre plano
          Bla
        </div>

        <div class="step">
          <span class="indicator">4</span>
          Ble
        </div>
      </div>
    </div>
    <img flex=30 ng-src="http://placehold.it/400x400" class="md-whiteframe-z1"></img>
  </div>
</md-content>
