<section id=services class="services padded-section min-height-section dark-background" layout=column layout-align="center center">
  <div class="md-display-1 text-align-center" data-sr="enter top">
    Servicios
    <md-divider></md-divider>
  </div>

  <div layout=row layout-wrap layout-align="center">
    <md-card flex flex-sm=100 ng-repeat="service in [
      {
        title: 'Remodelaciones',
        description: 'Tabiques, divisiones de interior, cielorrasos, placas de yeso, revestimientos, pisos flotantes, molduras de interior y exterior, instalacion de aberturas en general (madera, aluminio, PVC), ampliaciones.',
        imageName: 'remodelacion.jpg'
      }, {
        title: 'Proyectos',
        description: 'Arquitectura, ingenieria, planos, servicio de topografia, venta y alquiler de obrador, perforacion para captacion de agua, cerco de obra, bases y plateas de hormigon.',
        imageName: 'proyectos.jpg'
      }, {
        title: 'Steel Framing',
        description: 'Diseño y calculo de estructuras, ingenieria de detalle, planos de taller, computo de materiales, fabricacion y montaje, direccion de obra.',
        imageName: 'steel_framing.jpg'
        },{
          title: 'Además',
          description: 'Tambien realizamos: trabajos de electricidad, plomeria, instalaciones de gas, herreria, portones automaticos',
          imageName: 'ademas.jpg'
        }
    ]">
      <img ng-src="/images/services/{{service.imageName}}" class="md-whiteframe-z1"></img>
      <md-card-content>
        <h2 class="md-title">{{ service.title }}</h2>
        <p>{{ service.description }}</p>
      </md-card-content>
    </md-card>
  </div>
</section>
