<md-toolbar layout="row" layout-align="space-between center" class="main-menu md-whiteframe-z1">
  <span flex=10 hide-sm hide-md></span>

  <img flex-sm src="images/logo.svg" class="logo" scroll-to=carousel offset=64></img>

  <span flex hide-sm></span>

  <div hide-sm hide-md layout=row>
    <div flex>
      <md-button scroll-to=services offset=64>Servicios</md-button>
    </div>

    <div flex>
      <md-button scroll-to=gallery offest=64>Galería</md-button>
    </div>

    <div flex>
      <md-button scroll-to=contact offset=64>Contacto</md-button>
    </div>
  </div>

  <md-button class="md-icon-button" ng-click="main.showMailForm()">
    <md-icon md-svg-src="images/icons/mail.svg"></md-icon>
    <md-tooltip md-direction="bottom">Mandanos un mail</md-tooltip>
  </md-button>

  <md-menu hide show-sm show-md>
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon md-svg-src="images/icons/hamburguer.svg"></md-icon>
      <md-tooltip md-direction="left">Mandanos un mail</md-tooltip>
    </md-button>

    <md-menu-content width="3">
      <md-menu-item>
        <md-button>
          <a>Servicios</a>
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button>
          <a>Galería</a>
        </md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button>
          <a>Contacto</a>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>

  <span flex=10 hide-sm hide-md></span>
</md-toolbar>
